<form class="form-horizontal" role="form" name="employeeForm" novalidate ng-submit="submitForm()">

	<fieldset>
		<legend>Basic Information</legend>
		<div class="form-group">
			<div class="col-sm-6" ng-class="{'has-error': employeeForm.fullName.$invalid && employeeForm.fullName.$touched}">
				<label class="col-sm-6 control-label" for="fullName">Name</label>

				<div class="col-sm-6">
					<input class="form-control"
						   type="text"
						   name="fullName"
						   id="fullName"
						   ng-model="employee.fullName"
						   ng-required="validation.fullNameRequired"/>
					<span class="help-block" ng-show="employeeForm.fullName.$error.required">Please enter Name</span>
				</div>
			</div>

			<div class="col-sm-6" ng-class="validation.departmentClass">
				<label class="col-sm-6 control-label" for="department">Department</label>

				<div class="col-sm-6">
					<select class="form-control"
							id="department"
							ng-model="employee.department"
							ng-options="dept for dept in departments">
					</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="notes">Notes</label>

			<div class="col-sm-9">
				<textarea class="form-control" ng-model="employee.notes" id="notes" cols="20" rows="5"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="lastVisit">Last Visit</label>

			<div class="col-sm-4">
				<p class="input-group">
					<input class="form-control"
						   type="text"
						   id="lastVisit"
						   datepicker-popup="dd-MMMM-yyyy hh:mm"
						   ng-model="employee.lastVisit"
						   is-open="opened"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openCalendar($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>

					</span>
				</p>
			</div>
		</div>

	</fieldset>

	<br/>

	<fieldset>
		<legend>Perks</legend>

		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<div class="checkbox">
					<label class="control-label" for="perkCar">
						<input type="checkbox" ng-model="employee.perkCar" id="perkCar" value="perkCar"/> Company
						Car</label>
				</div>

				<div class="checkbox">
					<label class="control-label" for="perkStock">
						<input type="checkbox" ng-model="employee.perkStock" id="perkStock" value="perkStock"/> Stock
						Options</label>
				</div>

				<div class="checkbox">
					<label class="control-label" for="perkSixWeeks">
						<input type="checkbox" ng-model="employee.perkSixWeeks" id="perkSixWeeks" value="perkSixWeeks"/>
						Six
						Week Vacation</label>
				</div>
			</div>
		</div>
	</fieldset>

	<br/>

	<fieldset>
		<legend>Payroll Type</legend>
		<div class="col-sm-9 col-sm-offset-3">
			<div class="radio">
				<label class="control-label" for="ptOne">
					<input type="radio" ng-model="employee.payrollType" id="ptOne" value="w2"/> W-2</label>
			</div>
			<div class="radio">
				<label class="control-label" for="ptTwo">
					<input type="radio" ng-model="employee.payrollType" id="ptTwo" value="ten99"/> 1099</label>
			</div>
			<div class="radio">
				<label class="control-label" for="ptTre">
					<input type="radio" ng-model="employee.payrollType" id="ptTre" value="none"/> None</label>
			</div>
		</div>
	</fieldset>

	<br/>

	<div class="col-sm-3 col-sm-offset-9">
		<input class="btn btn-primary" type="submit" value="Submit"/>
		<input class="btn btn-warning" type="button" value="Cancel" ng-click="cancelForm()"/>
	</div>

</form>